:root {
  --color-main-dark: #011c44;
  --color-main-accent: #2b7fff;
  --color-main-light: white;
  --color-secondary-black: black;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-light-gray: #747272;
  --color-secondary-dark-violet: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-ext_latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic-ext_latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-ext_latin-700.woff2") format("woff2");
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-main-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: color 0.2s, fill 0.2s;
}

button {
  transition: fill 0.2s, color 0.2s, background-color 0.2s, border 0.2s;
}

.raund {
  border-radius: 50%;
}

.star-1-big {
  position: absolute;
  top: 347px;
  left: 136px;
  fill: var(--color-main-dark);
  animation: pulsar 1.5s linear 0s infinite alternate;
}

.star-2-middle {
  position: absolute;
  top: 32px;
  left: 471px;
  fill: var(--color-main-accent);
  animation: pulsar 1.5s linear 1s infinite alternate;
}

.star-3-little {
  position: absolute;
  top: 270px;
  left: 472px;
  fill: var(--color-secondary-light-gray);
  animation: pulsar 1.5s linear 0.5s infinite alternate;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
    fill: var(--color-main-dark);
  }
  100% {
    transform: scale(1.25);
    fill: var(--color-main-accent);
  }
}
.text-brand {
  color: var(--color-main-accent);
}

.text-bold {
  font-weight: 700;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-centered {
  text-align: center;
}

.title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  line-height: 1.16;
  font-weight: 700;
}
.title--bottom-spase {
  margin-bottom: 48px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.about-us-section__conteiner {
  padding: 0 100px 176px 100px;
  font-size: 22px;
  line-height: 1.73;
  display: flex;
  gap: 28px;
}
.about-us-section__text-conteiner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  flex-basis: 709px;
}
.about-us-section__imgs-conteiner {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 503px;
  height: 695px;
  align-content: space-between;
  flex-grow: 0;
}
.about-us-section__face-before-procedure {
  display: flex;
  flex-basis: 100%;
  justify-self: start;
  z-index: 1;
}
.about-us-section__face-after-procedure {
  display: flex;
  flex-basis: 100%;
  justify-content: end;
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0px;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 2;
}
.backdrop__modal {
  color: var(--color-main-light);
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 690px;
  padding: 42px 144px;
  background-color: var(--color-main-dark);
  border-radius: 48px;
  background-image: url("../images/modal-svg-backgraund.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}
.backdrop__modal-title--moved {
  margin-bottom: 40px;
}
.backdrop__modal-text {
  font-size: 22px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.modal-btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 0px;
  top: 42px;
  right: 42px;
  border: 0px;
  background-color: transparent;
  fill: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-button {
  display: block;
  margin: 0 auto 8px auto; /*different margin to hero-section-butt and form-butt */
  padding: 16px 32px;
  color: var(--color-main-light);
  background-color: var(--color-main-accent);
  border: 2px solid var(--color-main-accent);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
.order-button:hover {
  background-color: transparent;
}

.clarifying {
  display: block;
  margin: 0 auto;
  color: var(--color-secondary-light-gray);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 213px;
  text-align: center;
}
.clarifying__link {
  color: var(--color-secondary-light-gray);
  text-decoration: underline;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid var(--color-main-dark);
  fill: var(--color-main-dark);
  background-color: var(--color-main-light);
  cursor: pointer;
}
.carousel-button:hover {
  border: 1px solid var(--color-main-light);
  background-color: var(--color-main-accent);
  fill: var(--color-main-light);
}
.carousel-button.next {
  transform: rotate(180deg);
}

.contacts-secton__conteiner {
  margin-bottom: 96px;
}
.contacts-secton__map-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.contacts-secton__map {
  border: 0px;
  border-radius: 32px;
}
.contacts-secton__form-conteiner {
  display: flex;
  flex-basis: 423px;
  max-height: 481px;
  flex-direction: column;
  padding: 44px 56px;
  border-radius: 32px;
  background-color: var(--color-main-dark);
  background-image: url("../images/contacts-form-backgraund.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts-secton__form-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--color-main-light);
  text-align: center;
  margin-bottom: 32px;
}

.footer {
  position: relative;
  background-color: var(--color-main-dark);
  background-image: url("../images/footer-svg-backgraund.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::after {
  position: absolute;
  width: 278px;
  height: 213px;
  right: -31px;
  bottom: -61px;
  background-repeat: no-repeat;
  background-image: url("../images/bottom-pipette.png");
  content: "";
}
.footer__conteiner {
  padding: 56px 0;
  display: flex;
  flex-basis: 1239px;
  gap: 186px;
  justify-content: center;
}
.footer__columns--limited {
  flex-basis: 203px;
}
.footer__link-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__link {
  color: var(--color-main-light);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}
.footer__link:hover {
  color: var(--color-main-accent);
}
.footer__copyright {
  color: var(--color-secondary-dark-gray);
  font-size: 13px;
  line-height: 1.15;
}
.footer__link-svg {
  fill: var(--color-main-light);
}
.footer__link-svg:hover {
  fill: var(--color-main-accent);
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: start;
}
.footer__telephone-button {
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: transparent;
  padding: 0;
  border: 0px;
}
.footer__telephone-button:hover {
  fill: var(--color-main-accent);
}

.contact-form__input-conteiner {
  max-height: 52px;
}
.contact-form__input-conteiner--backdrop-limited {
  padding: 0 62px;
  margin-bottom: 24px;
}
.contact-form__input-conteiner--contacts-limited {
  margin-bottom: 16px;
}
.contact-form__input {
  padding: 18px 32px;
  width: 100%;
  border: 1px solid var(--color-secondary-light-gray);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-main-light);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.15;
  font-weight: 400;
}
.contact-form__input:focus {
  background-color: var(--color-secondary-light-gray);
  outline: none;
}
.contact-form__input::placeholder {
  color: var(--color-main-light);
}

.header__conteiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 32px;
}
.header__menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.header__link {
  color: var(--color-main-dark);
  line-height: 1.17;
}
.header__link:hover {
  color: var(--color-main-accent);
}
.header__phone-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  border: 0px;
  fill: var(--color-main-dark);
}
.header__phone-button:hover {
  fill: var(--color-main-accent);
}
.header__social-icons {
  fill: var(--color-main-dark);
}
.header__social-icons:hover {
  fill: var(--color-main-accent);
}

.hero-section__conteiner {
  background-image: url("../images/hero-section-backgraund.jpg");
  background-repeat: no-repeat;
  padding: 123px 705px 125px 206px;
}
.hero-section__top-text {
  margin-bottom: 16px;
  line-height: 1.17;
}
.hero-section__title {
  margin-bottom: 40px;
  color: var(--color-main-accent);
  font-family: "Play", sans-serif;
  font-size: 140px;
  line-height: 0.8;
  font-weight: 700;
}
.hero-section__button_modified {
  margin-bottom: 14px;
  display: inline;
}
.hero-section__button_modified:hover {
  color: var(--color-main-dark);
}
.hero-section__botom-text {
  max-width: 238px;
  color: var(--color-secondary-dark-gray);
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
}

.our-procedures-section__conteiner {
  margin: 0 auto 96px auto;
  padding: 0px 112px;
  max-width: 100%;
}
.our-procedures-section__carousel-conteiner {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  width: 100%;
}
.our-procedures-section__list {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  gap: 16px;
  justify-content: center;
}
.our-procedures-section__item {
  height: 456px;
  flex-basis: 344px;
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 48%, rgba(1, 28, 68, 0.7294117647) 84%, #011c44 100%);
  border-radius: 4px 120px;
  overflow: hidden;
}
.our-procedures-section__card {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.our-procedures-section__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px 120px;
  z-index: -1;
}
.our-procedures-section__card-text {
  color: var(--color-main-light);
  font-size: 22px;
  line-height: 1.19;
  font-weight: 400;
  width: 152px;
  margin-left: 115px;
  margin-bottom: 32px;
  text-align: center;
}

.root-conteiner {
  position: relative;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1488px;
  width: 100%;
  background-image: url("../images/root-gradient-background.svg");
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 1340px;
}

.why-we-section__conteiner {
  margin-bottom: 96px;
}
.why-we-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: center;
}
.why-we-section__item {
  background-color: var(--color-main-light);
  border-radius: 32px;
  padding: 24px 32px;
  flex-basis: 316px;
  text-align: center;
}
.why-we-section__article {
  flex-direction: column;
  gap: 8px;
}
.why-we-section__article-text {
  color: var(--color-secondary-black);
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */