.header-telephone-button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    border: 0px;
    fill: var(--color-main-dark);
}

.header-telephone-button:hover {
    fill: var(--color-main-accent)
}

.big-button {
    margin-bottom: 14px;
    padding: 16px 32px;
    color: var(--color-main-light);
    background-color: var(--color-main-accent);
    border: 2px solid var(--color-main-accent);
    border-radius: 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.big-button:hover {
    color: var(--color-main-dark);
    background-color: transparent;
}

.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid var(--color-main-dark);
    fill: var(--color-main-dark);
    background-color: var(--color-main-light);
    cursor: pointer;
}

.carousel-button:hover {
    border: 1px solid var(--color-main-light);
    background-color: var(--color-main-accent);
    fill: var(--color-main-light);
}

.carousel-button.next {
    transform: rotate(180deg);
}

.second-big-button {
    margin: 0 auto 8px auto;
    display: block;
    padding: 16px 32px;
    color: var(--color-main-light);
    background-color: var(--color-main-accent);
    border: 2px solid var(--color-main-accent);
    border-radius: 32px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.second-big-button:hover {
    background-color: transparent;
}

.footer-social-media-buttons-flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: start;
}

.footer-telephone-button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-color: transparent;
    padding: 0;
    border: 0px;
}

.footer-telephone-button:hover {
    fill: var(--color-main-accent)
}