.contacts-secton {
  &__conteiner {
    margin-bottom: 96px;
  }

  &__title {
    margin-bottom: 48px;
  }
  &__map-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  &__map {
    border: 0px;
    border-radius: 32px;
  }
  &__form-conteiner {
    display: flex;
    flex-basis: 423px;
    max-height: 481px;
    flex-direction: column;
    padding: 44px 56px;
    border-radius: 32px;
    background-color: var(--color-main-dark);
    background-image: url('../images/contacts-form-backgraund.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--color-main-light);
    text-align: center;
    margin-bottom: 32px;
  }
}
