.conteiner-footer-flex {
  padding: 56px 0;
  display: flex;
  flex-basis: 1239px;
  gap: 186px;
  justify-content: center;
}

.footer-columns-size {
  flex-basis: 203px;
}

.formated-hreaf-list-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.copyright {
  color: var(--color-secondary-dark-gray);
  font-size: 13px;
  line-height: 1.15;
}

.footer {
  position: relative;
  background-color: var(--color-main-dark);
  background-image: url('../images/footer-svg-backgraund.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  width: 278px;
  height: 213px;
  right: -31px;
  bottom: -61px;
  background-repeat: no-repeat;
  background-image: url('../images/bottom-pipette.png');
  content: '';
}
