.footer {
  position: relative;
  background-color: var(--color-main-dark);
  background-image: url('../images/footer-svg-backgraund.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    width: 278px;
    height: 213px;
    right: -31px;
    bottom: -61px;
    background-repeat: no-repeat;
    background-image: url('../images/bottom-pipette.png');
    content: '';
  }

  &__conteiner {
    padding: 56px 0;
    display: flex;
    flex-basis: 1239px;
    gap: 186px;
    justify-content: center;
  }

  &__columns {
    &--limited {
      flex-basis: 203px;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    color: var(--color-main-light);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 400;

    &:hover {
      color: var(--color-main-accent);
    }
  }

  &__copyright {
    color: var(--color-secondary-dark-gray);
    font-size: 13px;
    line-height: 1.15;
  }

  &__link-svg {
    fill: var(--color-main-light);
    &:hover {
      fill: var(--color-main-accent);
    }
  }

  &__social-media {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: start;
  }

  &__telephone-button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-color: transparent;
    padding: 0;
    border: 0px;

    &:hover {
      fill: var(--color-main-accent);
    }
  }
}
