.footer-svg-social-link {
    fill: var(--color-main-light);
}

.footer-svg-social-link:hover {
    fill: var(--color-main-accent);
}

.link-bottom-nav {
    color: var(--color-main-light);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 400;
}

.link-bottom-nav:hover {
    color: var(--color-main-accent);
}
