.root-conteiner {
    position: relative;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1488px;
    width: 100%;
    background-image: url("../images/root-gradient-background.svg");
    background-repeat: no-repeat;
    background-position-y: 1340px;
}