.why-we-section {
  &__conteiner {
    margin-bottom: 96px;
  }

  &__title_positioned {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    justify-content: center;
  }

  &__item {
    background-color: var(--color-main-light);
    border-radius: 32px;
    padding: 24px 32px;
    flex-basis: 316px;
    text-align: center;
  }

  &__article {
    flex-direction: column;
    gap: 8px;
  }

  &__article-text {
    color: var(--color-secondary-black);
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
  }
}
